<div class="container mt-5 pt-5"> 
  <div class="row">
    <section class="col-3">
      <h5 class="text-warning">Sort</h5>
      <select class="custom-select mb-3" (change)="onSortSelected($event)">
        <option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{sort.name}}
        </option>
      </select>

      <h5 class="text-warning">Brands</h5>
      <ul class="list-group my-3 pl-0">
        <li class="list-group-item" 
            *ngFor="let brand of brands"
            [class.active]="brand.id === shopParams.brandId"
            (click)="onBrandSelected(brand.id)">
          {{brand.name}}
        </li>
      </ul>

      <h5 class="text-warning">Types</h5>
      <ul class="list-group my-3 pl-0">
        <li class="list-group-item" 
            *ngFor="let type of types"
            [class.active]="type.id === shopParams.typeId"
            (click)="onTypeSelected(type.id)">
          {{type.name}}
        </li>
      </ul>
    </section>

    <div class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <header>
          <span>Showing <strong>{{shopParams.pageSize}}</strong> of <strong></strong> Results</span>
        </header>
      </div>

      <div class="d-flex align-items-center pb-3">
        <input class="form-control mr-2" style="width: 300px;" placeholder="Search" type="text">
        <button class="btn btn-outline-primary ml-2">Search</button>
        <button class="btn btn-outline-success ml-2">Reset</button>
      </div>

      <div class="row">
        <div class="col-4 mb-4" *ngFor="let product of products | paginate: { itemsPerPage: 6, currentPage: page }">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div> 

      <pagination-controls (pageChange)="page = $event"></pagination-controls>
      

    </div>
  </div>
</div>
